<web-app>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>main.controller.AddStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveStudentServlet</servlet-name>
        <servlet-class>main.controller.RemoveStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveStudentServlet</servlet-name>
        <url-pattern>/removeStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <jsp-file>/dashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addStudent</servlet-name>
        <jsp-file>/addStudent.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>addStudent</servlet-name>
        <url-pattern>/addStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
</web-app>
